img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 120px;
}

.icon-magic-wand {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: currentColor;
      fill: #32c682;
}

@media screen and (max-width: 767px) {
  .photo-card {
    width: calc((100% - 40px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .photo-card {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .photo-card {
    width: calc((100% - 90px) / 4);
  }
}
